.item {
  padding: 10px;

  &:hover{
    cursor: pointer;
    // transform: translateY(-3px);
    // box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .cover {
    overflow: hidden;
    border-radius: 5px;
  }

  img {
    width: 100%;
  }

}
