.wrap {
  .sidemenu {
    box-shadow: 0 2px 6px rgba(26, 31, 28, .08);
    border-radius: 5px;
    margin-bottom: 30px;
    height: fit-content;
    margin-top: 30px;

    .namecard {

      .photo {
        position: relative;
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: 100%;
          height: auto;
          margin-top: -20%;
        }
      }

      .text {
        text-align: center;

        .name {
          font-size: 20px;
          font-weight: bolder;
          color: #2AABEE;
        }

        .job,
        .city {
          color: #8C8C8C;
        }
      }
    }

    .line {
      width: 100%;
      height: 1px;
      margin-bottom: 12px;
      margin-top: 20px;
      background-color: #d8d9da;
    }

    .menu {
      margin-bottom: 25px;

      li {
        position: relative;
        list-style: none;
        padding: 8px;

        &:hover {
          background-color: #f7f9fa;
          cursor: pointer;

          a {
            color: #616163;
          }
        }

        span {
          position: absolute;
          left: 0;
          top: 0;
          width: 3px;
          height: 40px;
          background-color: #2AABEE;
          border-radius: 3px;
        }

        a {
          margin-left: 10px;
          color: #8C8C8C;
        }

        .click {
          color: #616163;
          font-weight: bolder;
        }
      }
    }
  }

  // .content {
  //   outline: 1px solid #c90404;
  // }
}

@media screen and (min-width: 992px) {
  .content {
    padding: 30px;
    padding-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .content {
    margin: auto;
    padding: 0;
  }
}
